[Unit]
Description=Detection
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /Edatasoluciones/Edata_Transform.py
RemainAfterExit=no
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
